
body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(220, 220, 220);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h2 { color: #000000; }
#devices { margin-bottom: 10px; }
table {
    width: 90%;
margin-left:5%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #c7c7c7;
}
button {
    padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            margin: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
        }

        button:hover {
            background-color: #45a049;
        }