
.Btn {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.34);
  border-radius: 15px;
  background-color: rgba(3, 122, 9, 0);

  flex-direction: column;
  align-items: center;

  cursor: pointer;
  position:absolute;
  transition-duration: 0.3s;
left:59.5%;
top:-1%, 1%;



}

.svgIcon {
  fill: rgba(255, 255, 255, 0.372);
}

.Btn:hover {
  background-color: rgba(8, 130, 47, 0.207);
  height: 58px;
  border: 2px solid rgba(255, 255, 255, 0);
  transition-duration: 0.3s;
}

.Btn:hover .svgIcon {
  fill: rgba(5, 200, 5, 0.587);
  animation: slide-in-top 1s linear infinite ;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(40px);
    opacity: 1;
  }
}

/* Estilo do botão */
.ui-btn {
    --btn-default-bg: rgba(41, 41, 41, 0);
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgba(51, 51, 51, 0);
    --btn-transition: .1s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #c1c1c1ea;
    --default-btn-color: #ffffff4d;
    --font-size: 16px;
    /* 👆 this field should not be empty */
    --font-weight: 600;
    --font-family: Menlo, Roboto Mono, monospace;
    /* 👆 this field should not be empty */
}

.ui-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
}
.ui-btn:hover span,
.ui-btn:focus span {
    color: var(--hover-btn-color);
}
.uia-btn {
  --btn-default-bg: rgba(41, 41, 41, 0);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgba(51, 51, 51, 0);
  --btn-transition: .1s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #05a237ea;
  --default-btn-color: #ffffff4d;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
  /* 👆 this field should not be empty */
}


.uia-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}
.uia-btn:hover span,
.uia-btn:focus span {
  color: var(--hover-btn-color);
}



/* Adicione estas classes CSS ao seu arquivo de estilo */
.page-transition {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.page-transition.fade-out {
  opacity: 0;
}


canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca o canvas no fundo */

  
}
#back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}






.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start; /* Adicionado para alinhar as colunas ao topo */
  margin: 0px 0;
}


.left-column {
  flex: 0 0 60%; /* Flex-grow, flex-shrink e flex-basis */
  background-color: #66666600;
  color: #f0f0f042;
  padding: 20px;
  box-sizing: border-box; /* Certifica que padding está incluído na largura */
}

.right-column {
  flex: 0 0 40%; /* Flex-grow, flex-shrink e flex-basis */
  background-color: #66666600;
  color: #f0f0f042;
  padding: 20px;
  box-sizing: border-box; /* Certifica que padding está incluído na largura */
}


.audio-player {
  width: 80%;
  margin: 10px 0;
  margin-top: 10px; /* Pequeno ajuste para margem superior */

}


.audio-player h3 {
  margin-bottom: 4px;
  margin-top: 0px;
  align-self: flex-end; 
}

audio {
  width: 95%;
}


