
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* Estilo do botão */
.ui-btn {
    --btn-default-bg: rgba(41, 41, 41, 0);
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgba(51, 51, 51, 0);
    --btn-transition: .1s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #c1c1c1ea;
    --default-btn-color: #ffffff4d;
    --font-size: 16px;
    /* 👆 this field should not be empty */
    --font-weight: 600;
    font-family: 'Poiret One', cursive;
    /* 👆 this field should not be empty */
}

.ui-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
}
.ui-btn:hover span,
.ui-btn:focus span {
    color: var(--hover-btn-color);
}








.uia-btn {
  --btn-default-bg: rgba(41, 41, 41, 0);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgba(51, 51, 51, 0);
  --btn-transition: .1s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #05a237ea;
  --default-btn-color: #ffffff4d;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
  z-index: 2000;
  /* 👆 this field should not be empty */
}


.uia-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}
.uia-btn:hover span,
.uia-btn:focus span {
  color: var(--hover-btn-color);
}





















/* Adicione estas classes CSS ao seu arquivo de estilo */
.page-transition {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.page-transition.fade-out {
  opacity: 0;
}


canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Coloca o canvas no fundo */


}
#back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}





.plusButtonn {
  /* Config start */
  --plus_sideLength: 2rem;
  --plus_topRightTriangleSideLength: 0.9rem;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1.75rem;
  left: 10.5rem;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: #43000000;
  overflow: hidden;
}

.plusButtonn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0) transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButtonn:hover {
  cursor: pointer;
}

.plusButtonn:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButtonn:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButtonn>.plusIcon {
  fill: rgba(255, 255, 255, 0.576);
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButtonn:hover>.plusIcon {
  fill: rgb(0, 244, 24);
  transform: rotate(180deg);
}



.audio-player {
  width: 200px;
  height: 80px;
  color: #ffffff48;
      font-size: 14px;

      font-weight: 200;
      font-family: "Mina", sans-serif;
      white-space: nowrap; /* Mantém o texto em uma linha */
  padding: 10px;
  border: 1px solid #2523232e;
  border-radius: 20px;
  background-color: #00000031;
  margin-bottom: 20px; /* Adiciona margem abaixo do elemento */
  justify-content: center;
  position: relative;
  flex: 1 0 100%;
  margin-bottom: 20px;

}

.progress-container {
  margin-bottom: 50px;
  justify-content: center;
  position: relative;
  flex: 1 0 100%;
}

.progress-container input[type=range] {
  width: 100%;
  justify-content: center;
  position: relative;
  flex: 1 0 100%;
}

.controls button {
  margin-right: 10px; /* Ajuste a margem conforme necessário */
  width: 10px; /* Ajuste a largura do botão conforme necessário */
  height: 90px; /* Ajuste a altura do botão conforme necessário */
  border: none;
  background-color: transparent;
  font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
  cursor: pointer;
  justify-content: center;
  position: relative;
  flex: 1 0 100%;
  color: #ffffff5a; /* Cor do ícone ao passar o mouse */
}

.controls button:hover {
  color: #04ff575a; /* Cor do ícone ao passar o mouse */
}

/* Exemplo de estilos para o ícone de play */
.play-icon::before {
  content: " ▶"; /* Símbolo de play */
}

/* Exemplo de estilos para o ícone de pause */
.pause-icon::before {
  content: "❚❚"; /* Símbolo de pause */
}


.track-info {
  margin-top: -85px;
  margin-left: 29px;
    justify-content: center;
  position: relative;
  flex: 1 0 100%;

}



#playBtn, #playBtn2 {
  position: absolute;
  margin-top:-120px;
  margin-left: px;
  z-index: 1; /* Garante que o botão fique sobreposto */
}


.editBtn {
  width: 35px;
  height: 35px;
  border-radius: 11px;
  border: none;
  background-color: rgba(93, 93, 116, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.editBtn::before {
  content: "";
  width: 100%;
  height: 210%;
  background-color: rgba(102, 102, 141, 0);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(10px);
}
.editBtn:hover::before {
  transform: scale(1);
}
.editBtn:hover {
  box-shadow: 0px 0px 120px rgb(255, 255, 255);
}

.editBtn svg {
  height: 17px;
  fill: rgba(255, 255, 255, 0.727);
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}
.editBtn:hover svg {
  transform: rotate(-15deg) translateX(5px);
}
.editBtn::after {
  content: "";
  width: 15px;
  height: 2px;
  position: absolute;
  bottom: 8px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}



    
    /* Estilo para navegadores WebKit (Chrome, Safari) */
    body::-webkit-scrollbar {
      width: 12px; /* Largura da barra de rolagem vertical */
      height: 12px; /* Altura da barra de rolagem horizontal */
      }
      
      body::-webkit-scrollbar-track {
      background: #333; /* Cor do fundo da barra de rolagem */
      }
      
      body::-webkit-scrollbar-thumb {
      background-color: #666; /* Cor da barra de rolagem */
      border-radius: 6px; /* Cantos arredondados */
      border: 3px solid #333; /* Espaçamento interno para a borda */
      }
      
      /* Estilo para Firefox */
      body {
      scrollbar-width: thin; /* Define a largura da barra de rolagem */
      scrollbar-color: #666 #333; /* Define a cor da barra de rolagem e do fundo */
      }
      
      /* Estilo para Edge e Internet Explorer */
      body::-ms-scrollbar {
      width: 12px; /* Largura da barra de rolagem vertical */
      height: 12px; /* Altura da barra de rolagem horizontal */
      }
      
      body::-ms-scrollbar-track {
      background: #333; /* Cor do fundo da barra de rolagem */
      }
      
      body::-ms-scrollbar-thumb {
      background-color: #666; /* Cor da barra de rolagem */
      border-radius: 6px; /* Cantos arredondados */
      border: 3px solid #333; /* Espaçamento interno para a borda */
      }


      body,  html  {
        font-family: 'JS Brains Telex', sans-serif;
        margin: 0;
        overflow: auto;
   
        color: #f0f0f047;


    }


    #navbar-items {
        display: flex;
        justify-content: left;
        margin-left: 0px;
        padding: 0;
    }

    
    body, html {
      font-family: 'JS Brains Telex', sans-serif;
      margin: 0;
      overflow: auto;
      background-color: #2d2b2b;
      color: #f0f0f047;
   
  }

  #canvas-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      pointer-events: none; /* Make sure the canvas doesn't interfere with other elements */
  }

  .content {
      position: relative;
      z-index: 1;
      padding: 20px;
  }

  .container {
      display: flex;
      flex-wrap: wrap;
      margin-left: 15px;
      z-index: 2;
  }


  .ui-btn {
      margin-right: 73px;
      z-index: 2;
  }

  .popup-link {
      color: #ffffff7d;
      text-decoration: none;
  }

  .popup-link:hover {
      color: #e1ff0081;
      text-decoration: none;
  }
  .navbar-items{
    z-index: 3;
  }

  .rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

.assinatura-container {
  position: fixed; /* Define o posicionamento fixo */
  bottom: 25%; /* Posiciona no centro verticalmente inicialmente */
  right: 10px; /* Alinha à direita */
  transform-origin: right; /* Define o ponto de origem da rotação */
  display: inline-block; /* Para permitir o alinhamento lado a lado */
  vertical-align: middle; /* Alinha verticalmente ao centro com o próximo elemento */
  margin-right: 10px; /* Espaçamento entre a assinatura e os botões */
  z-index: 1000; /* Garante que a assinatura esteja acima de outros conteúdos */
  transform: translateY(-50%) rotate(90deg); /* Rotaciona o texto em 90 graus e centraliza verticalmente */
}

.assinatura {
  font-family: "Rock Salt", cursive; /* Aplica a fonte Rock Salt */
  font-size: 18px;
  color: rgba(218, 204, 204, 0.836);
  white-space: nowrap; /* Mantém o texto em uma linha */
  overflow: hidden; /* Esconde o conteúdo que excede a largura */
  border-right: .15em solid transparent; /* Efeito de cursor inicialmente invisível */
  display: block; /* Para que o cursor se aplique corretamente */
  animation: escrever 4s steps(40, end) forwards, piscar-cursor .5s step-end infinite;
  transform-origin: left top; /* Define o ponto de origem da rotação */
}


@keyframes escrever {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
  }
  
  @keyframes piscar-cursor {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(255, 166, 0, 0);
  }
  }
  
.button-container {
  position: fixed; /* Define o posicionamento fixo */
  bottom: -100px; /* Alinha com a assinatura verticalmente */
  right: 0px; /* Alinha à direita, ao lado da assinatura */
  transform: translateY(-50%); /* Centraliza verticalmente */
  display: inline-block; /* Para permitir o alinhamento lado a lado */
  vertical-align: middle; /* Alinha verticalmente ao centro com o elemento anterior */
  z-index: 1000;
  margin-left: 0px; /* Espaçamento entre os botões e a assinatura */
}
.setting-container {
  position: fixed; /* Define o posicionamento fixo */
  top: 1px; /* Alinha com a assinatura verticalmente */
  right: 2px; /* Alinha à direita, ao lado da assinatura */

  display: inline-block; /* Para permitir o alinhamento lado a lado */
  vertical-align: middle; /* Alinha verticalmente ao centro com o elemento anterior */
  z-index: 1000;
  margin-left: 0px; /* Espaçamento entre os botões e a assinatura */
}

.setting-container .options {
  display: none; /* Inicialmente oculto */
  position: absolute;
  top: 100%;
  left: -85px;

  width: 100px; /* Largura da caixa de seleção */
  background-color: #00000038;
  border: 1px solid #cccccc33;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.587);
  z-index: 1; /* Garante que a caixa de seleção apareça acima de outros elementos */
}

.setting-container.open .options {
  display: block; /* Mostra a caixa de seleção quando a classe open é aplicada */
}

.option-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-item:hover {
  background-color: #f0f0f04e; /* Cor de fundo no hover */
}
.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff; /* Cor de fundo das opções */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.1); /* Sombra */
  padding: 10px;
  z-index: 1;
  list-style-type: none;
  margin: 0;
}

.options  {
  margin-bottom: 5px;
}

.options a {
  color: #ffffff61; /* Cor dos links */
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  color: rgb(218, 204, 204);

  font-weight: 200;

  display: block;
  padding: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

.options  a:hover {
  background-color: #f0f0f0; /* Mudança de cor de fundo no hover */
  color: #555; /* Mudança de cor do texto no hover */
}
.setting-btn {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: rgba(129, 110, 216, 0);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  z-index: 1000;
  box-shadow: 0px 0px 0px 2px rgba(212, 209, 255, 0);
}
.bar {
  width: 60%;
  height: 2px;
  background-color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2px;
}
.bar::before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: rgba(199, 199, 199, 0.512);
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.398);
  transition: all 0.3s;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0);
}
.bar1::before {
  transform: translateX(-4px);
}
.bar2::before {
  transform: translateX(4px);
}
.setting-btn:hover .bar1::before {
  transform: translateX(4px);
}
.setting-btn:hover .bar2::before {
  transform: translateX(-4px);
}

/* Estilo adicional para o link */
#assinatura-link {
text-decoration: none;
color: inherit;
}
.assinatura:hover {

color: rgba(255, 255, 255, 0.83);
}



.left-column, .middle-column {
  padding: 20px;
  box-sizing: border-box;
  flex: 1 1 100%;
  flex-wrap: wrap;
  z-index: 2;
}

@media (min-width: 768px) {
  .left-column {
      flex: 1 0 60%;
      margin: 0px;
      margin-left: 0px;
      margin-right: -270px;
  }
  .middle-column {
      flex: 1 0 45%;
      margin-left: 120px;
      margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .left-column, .middle-column, .right-column {
      flex: 1 0 100%;
      margin: 0;
  }
}